.card-wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid #E8F3FC;
    background: #FFFFFF;
    border-radius: 8px;
    border-left-color: radial-gradient(108.86% 100.3% at 100.06% 100.3%, #0AB169 42.03%, #0AB169 87.21%);
    border-left-width: 10px;
    padding: 10px;
    flex: 1;
}


.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.staff-member {
    display: flex;
    align-items: center;
    gap: 10px;
}

.moreinfo {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}